@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&display=swap');

    :root {
      --background: #FFFFFF;
      --secondary: #E8E8E8;
      --accent: #FCA311;
      --color: #14213D;
    }

    * {
      padding: 0px;
      margin: 0px;
    }

    body {
      font-family: 'Encode Sans', sans-serif;
      min-width: calc(100% - 20px);
      min-height: 100%;
      background: var(--background);
      color: var(--color);
      padding: 10px;
      padding-top: 30px;
    }

    #content {
      width: calc(100% - 40px);
      max-width: 1000px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
    }

    #mark {
      position: fixed;
      bottom: 10px;
      right: 10px;
      opacity: 0.3;
    }
