h1, h2, h3, h4, h5, h6 {
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  left: 17px;
  cursor: pointer;
}
h1::before, h2::before, h3::before, 
h4::before, h5::before, h6::before {
  content: "§";
  margin-right: 7px;
  opacity: 0;
  transition: 0.2s ease-in-out;
  display:inline-block;
}
h1:hover::before, h2:hover::before, h3:hover::before, 
h4:hover::before, h5:hover::before, h6:hover::before {
  opacity: 0.9;
}
h2 { font-size: 1.7em; padding-left: 2px; }
h3 { font-size: 1.4em; padding-left: 5px; }
h4 { font-size: 1.2em; padding-left: 6px; }
h5 { font-size: 1em; padding-left: 7px; }
h6 { font-size: 0.9em; padding-left: 7.5px; }

p {
  padding-left: 40px;
  padding-bottom: 15px;
}

blockquote {
  border-left: var(--accent) 4px solid;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 25px;
}
blockquote > p {
  padding-left: 36px;
}

details > * {
  margin-left: 10px;
}
details {
  padding-left: 40px;
  margin-left: 0px;
}
#content > details {
  margin-left: -10px;
}
summary {
  padding-bottom: 10px;
}
details summary::marker {
  color: var(--accent);
  background: var(--accent);
}

ol {
  list-style: none;
  counter-reset: num;
}

ol > li { counter-increment: item; }
ol > li:before { 
  content: counter(item);
  margin-right: 10px;
}
ul { list-style: inside; }

*:not(li) > ol, *:not(li) > ul {
  padding-bottom: 12px;
}
*:not(li) > ol, ul {
  padding-left: 40px;
}

table {
  padding-left: 40px;
  margin-bottom: 15px;
  border-spacing: 0px;
}
th, td{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

tbody tr:nth-child(odd) {
  background: var(--secondary);
}

ul:has(input) {
  list-style: none;
}
input {
  margin-left: 3px;
}

img {
  max-width: 90% !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
